.wrapper-form {
  background-image: url('https://img5.goodfon.ru/original/2047x1528/9/e9/poseidon-p-8-boeing-us-navy-protivolodochnyi-samolet-polet.jpg');
  height: 93.5vh;
  background-size: cover;

}
@media screen and (max-width: 1024px) and (min-width: 640px) {
  .wrapper-form {
    background-image: url('https://img5.goodfon.ru/original/1024x1024/9/e9/poseidon-p-8-boeing-us-navy-protivolodochnyi-samolet-polet.jpg?d=1');
  }
}
@media screen and (max-width: 639px) and (min-width: 320px) {
  .wrapper-form {
    background-image: url('https://img5.goodfon.ru/original/640x480/9/e9/poseidon-p-8-boeing-us-navy-protivolodochnyi-samolet-polet.jpg');
    background-position: center;
  }
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.align-items-center {
  align-items: center;
}

.align-items-start {
  align-items: flex-start;
}

.justify-items-center {
  justify-items: center;
}

.justify-items-between {
  justify-content: space-between;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

/* Header styles */
.header .brand-logo {
  position: static;
}

.header .favorites {
  margin-right: 30px;
}

.header .currency-select input.select-dropdown {
  margin: 0;
  color: #fff;
  border-bottom: none;
}

.header .currency-select input.select-dropdown:focus {
  border-bottom: none;
}

.header .currency-select {
  width: 120px;
}

.header .currency-select .caret {
  fill: #fff;
}

.header .brand-logo {
  font-size: 1.5rem;
}

@media only screen and (max-width: 992px) {
  nav .brand-logo {
    transform: translateX(0) !important;
  }
}


/* Favorites */
.dropdown-content li>a, .dropdown-content li>span {
  color: #7b1fa2 !important;
}

.favorites .dropdown-content {
  width: 400px !important;
  color: #000;
}

@media screen and (max-width: 639px) and (min-width: 320px) {
  .favorites .dropdown-content {
    width: auto !important;
    margin: 15px !important;
  }
}

.favorites .favorite-item-airline-img {
  max-width: 100px;
  margin-right: 10px;
}

.favorites .favorite-item-info {
  flex-grow: 1;
  padding: 10px;
  line-height: 1;
  height: auto;
}

.favorites .favorite-item-info .material-icons {
  line-height: 1;
  height: auto;
}

.favorites .favorite-item-destination {
  border-bottom: 1px dashed gray;
  margin-bottom: 5px;
}

.favorites .ticket-price {
  font-size: 18px;
  font-weight: bold;
}

.favorites .ticket-additional-info {
  font-size: 12px;
}

.favorites .ticket-time-departure {
  font-size: 14px;
}

.favorites .j-delete-favorite {
  margin-top: 10px;
}

.favorite-item {
  padding: 0 10px;
}

.tickets-sections {
  margin-top: -250px;
}
@media (max-width: 510px) {
  .tickets-sections {
    margin-top: -20%;
  }
}

.ticket-card {
  padding: 10px 15px;
}

.ticket-airline-name {
  font-weight: bold;
  font-size: 18px;
  text-transform: capitalize;
}

.ticket-airline-img {
  max-width: 100px;
  margin-right: 20px;
}

.ticket-destination {
  margin-bottom: 10px;
  border-bottom: 1px dashed gray;
}
@media (max-width: 900px) {
  .ticket-destination {
    flex-direction: column;
    align-items: flex-end;
  }
}

.ticket-destination .ticket-city {
  font-size: 26px;
  text-transform: uppercase;
}

.ticket-destination i.material-icons {
  font-size: 26px;
}

.ticket-time-departure {
  font-weight: bold;
  color: gray;
}

.ticket-price {
  font-size: 25px;
  padding: 5px;
  background: #6a1b9a;
  color: #fff;
}

.ticket-additional-info {
  font-size: 14px;
  font-weight: bold;
}

.tickets-empty-res-msg {
  padding: 10px 15px;
  text-align: center;
  background: whitesmoke;
  font-weight: bold;
  font-size: 18px;
}

/* Form styles */
.form-section .card {
  margin-top: 70px !important;
  background: rgba(255,255,255,0.8) !important;
}
.card-content {
  display: flex;
  flex-direction: column;
}
@media (max-width: 510px) {
  .card-content .col {
    flex-direction: column;
  }
}

.card-content .input-field {
  margin-right: 15px;
  width: 100% !important;
}
.card-content input {
  border-radius: 5px !important;
  margin-right: 5px !important;
  color: darkmagenta !important;
  padding-left: 10px !important;
  width: 96% !important;
}
.card-content input:focus {
  box-shadow: none !important;
}
.input-field>label {
  color: #4f9cfb !important;
  padding-left: 10px;
  outline: none;
}
.input-field>label:not(.label-icon).active {
  transform: translateY(-20px) scale(0.8) !important;
}

/* Datepicker modification */
.datepicker-date-display,
.datepicker-table td.is-selected {
  background-color: #2665a6 !important;
  font-weight: 700 !important;
}

.datepicker-cancel, .datepicker-today, .datepicker-done,
.datepicker-table td.is-today {
  color: #2665a6 !important;
}